body{
    font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 25px;
}

p {
    line-height: var(--line-height);
}

a {
    line-height: var(--line-height);
    color: var(--color-dark);
    text-decoration: none;
    &:hover{
        color: var(--color-acent);
    }

}

li {
    line-height: var(--line-height);
}