.about{
    background-color: #102331;

    h6,
    h3,
    p{
        margin: 0;
    }

    display: grid;
    grid-template-columns: var(--grid-container);

    &__background{
        object-fit: cover;
        position: absolute;
    }
    
    &__inner{
        padding-top: 10rem;
        grid-area: inner;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }
    
    &__header{
        color: var(--color-light);
        letter-spacing: 1.3px;

        span{
            color: var(--color-details);
        }
    }

    &__description{
        width: 500px;
        color: #f1f1f1;
        margin-top: var(--gap-l);
        p{
            font-size: var(--font-size-2);
            letter-spacing: 0.8px;
        }

    }

    &__skills{
        letter-spacing: 1.3px;
        padding-top: 15rem;
        padding-left: 14vw;
        color: var(--color-light);
        h6{
            margin-top: var(--gap-s);
        }
    }

    &__skills-tech{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        width: 360px;
        color: #f1f1f1;
        margin-top: var(--gap-s);
        padding-bottom: var(--section-gap);

        img{
            padding-right: 1rem;
        }
    }

}

@media screen and ( max-width: 1280px ) {
    .about,
    .about__inner{
        display: flex;
        padding: var(--gap-l) 6rem 0 4rem;
    }

    .about__skills{
        padding-left: 12vw;
    }

    .about__skills-tech{
        padding-bottom: 0;
    }
}   

@media screen and ( max-width: 1180px ) {
    .about,
    .about__inner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem 5rem 2rem 5rem;
        width: 100%;
    }

    

    .about__header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .about__skills{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 8rem 0 0 0;
    }

    .about__skills-tech{
        padding-top: 2rem;
        width: 100%;
    }

    .about__description{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and ( max-width: 900px ) {
    .about,
    .about__inner{
        padding: 2rem 1rem 2rem 1rem;
    }
}