.hamburger{
    display: none;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    overflow: hidden;

    

    &__main-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        backdrop-filter: blur(5px);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .375s;
    }

    &__main-nav.is-open {
        opacity: 1;
        z-index: 100;
        visibility: visible;
    }

    /* Yellow band effect */
    &__main-nav::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -15px;
        background: var(--color-details);
        transform-origin: 0 0;
        transform: skew(-14deg) translateX(-120%);
        transition: all .275s .1s;
    }

    &__main-nav.is-open::before {
        transform: skew(-14deg) translateX(0);
    }

    /* Skewing effect on menu links */
    &__main-nav ul {
        display: inline-flex;
        flex-direction: column;
        height: 100%; /* Should be 100%, but we have a notice message :D */
        align-items: flex-end;
        justify-content: center;
        transform: translateX(-18%) skew(-16deg);
    }

    &__main-nav li {
        display: block;
        margin: .5rem 0;
        text-align: right;
        transform: skew(16deg);
    }

    // Apparition effect on links
    &__main-nav a {
        opacity: 0;
        transform: translateY(-10px);
    }

    &__main-nav.is-open a {
        opacity: 1;
        transform: translateY(0);
    }
    &__main-nav li:nth-child(1) a {
        transition: all 275ms 175ms
    }
    &__main-nav li:nth-child(2) a {
        transition: all 275ms 225ms
    }
    &__main-nav li:nth-child(3) a {
        transition: all 275ms 275ms
    }
    &__main-nav li:nth-child(4) a {
        transition: all 275ms 325ms
    }
    &__main-nav li:nth-child(5) a {
        transition: all 275ms 375ms
    }


    // Decoration
    &__main-nav ul,
    &__main-nav li {
        list-style: none;
        padding: 0;
    }
    &__main-nav a {
        display: block;
        padding: 12px 0;
        color: #102331;
        font-size: 1.4em;
        text-decoration: none;
        font-weight: bold;
    }

    // Burger Style:
    &__open-main-nav {
        position: fixed;
        top: 15px;
        padding: 2.2rem 0.5rem 0 0;
        right: 15px;
        z-index: 1000;
        background: none;
        border: 0;
        cursor: pointer;
    }

    &__open-main-nav:focus {
        outline: none;
    }

    &__burger {
        position: relative;
        display: block;
        width: 28px;
        height: 4px;
        margin: 0 auto;
        background: var(--color-details);
        transform: skew(5deg);
        transition: all .275s;
    }

    &__burger:after,
    &__burger:before {
        content: '';
        display: block;
        height: 100%;
        background: var(--color-details);
        transition: all .275s;
    }

    &__burger:after {
        transform: translateY(-12px) translateX(-2px) skew(-20deg);
    }

    &__burger:before {
        transform: translateY(-16px) skew(-10deg);
    }

    /* Toggle State part */
    .is-open &__burger {
        transform: skew(5deg) translateY(-8px) rotate(-45deg);
    }

    .is-open &__burger:before {
        transform: translateY(0px) skew(-10deg) rotate(75deg);
    }

    .is-open &__burger:after {
        transform: translateY(-12px) translateX(10px) skew(-20deg);
        opacity: 0;
    }

    /* MENU Text part */

    &__burger-text {
        display: block;
        font-size: .675rem;
        letter-spacing: .05em;
        margin-top: .5em;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        color: var(--color-details);
    }

    // SOCIAL

    &__social{
        position: absolute;
        display: flex;
        align-items: flex-end;
        color: var(--color-accent);
        bottom: 0;
        gap: 2rem;
        margin-bottom: 2rem;
        transform: skew(16deg);

    }

    &__social-inner{
        
    }
    
    &__social-links{

    }

}


@media screen and ( max-width: 900px ) {

    .hamburger{
        display: block;
    }
}