.header {
    position: fixed;
    height: 100px;
    background-color: #102331;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: grid;

    &__inner{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0 3rem 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__small{
        display: none;
    }
    
    &__logo{
        height: 65px;
        max-width: 60px;
        display: flex;
    }

    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

    }

    &__button{
        border: none;
        background-color: transparent;
        color: var(--color-accent);
        font-family: var(--font-serif);
        font-size: var(--font-size-2);
        font-weight: 400;
        :hover{
            cursor: pointer;
        }

        &-home{
            font-weight: 700;

            :hover{
                cursor: pointer;
            }
        }
    }

    &__button-contact{
        border: none;
        color: #f1f1f1;
        padding: 6px 16px 6px 16px;
        border-radius: 5px;
        border-color: var(--color-details);
        background-color: var(--color-details);
    }

}


// Media queries

@media screen and ( max-width: 900px ) {
    .header__menu{
        display: none;
    }

    .header__small{
        display: block;
    }



}
