.header {

    &__background {
        background: url(/src/images/Path2@2x.png);
        height: 100vh;
        min-width: 100%;
        position: absolute;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 80px 0 80px;
        position: relative;
    }

    &__logo{
        min-height: 30px;
        min-width: 30px;
        display: flex;
    }

    &__menu{
        display: flex;
        gap: 2rem;
    }

}
